In [1]:
from data_extractor import load_df, extract_X_y_from_df

In [2]:
# Load df with the data
# Check this function for more parameters
df = load_df("../data/")

In [3]:
df.head()

,subject,block_no,duration,field,data_type,answer,eeg,desired_answer
0,02F6BC66,1,0.832,NAME,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES
1,02F6BC66,1,1.004,BIRTH_DATE,CELEBRITY,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES
2,02F6BC66,1,0.676,NAME,RANDO,NO,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",NO
3,02F6BC66,1,0.980,HOMETOWN,RANDO,NO,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",NO
4,02F6BC66,1,0.700,NAME,RANDO,NO,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",NO

In [4]:
# Filter the data and add the column 'label' depends what you need
df = df.query("desired_answer == answer and data_type in ['REAL', 'FAKE']")
df['label'] = df.apply(lambda x: 1 if x.block_no in [1,3] else 0, axis = 1)
df.head()

,subject,block_no,duration,field,data_type,answer,eeg,desired_answer,label
0,02F6BC66,1,0.832,NAME,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES,1
6,02F6BC66,1,0.744,BIRTH_DATE,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES,1
9,02F6BC66,1,0.736,HOMETOWN,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES,1
11,02F6BC66,1,0.608,HOMETOWN,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES,1
14,02F6BC66,1,0.628,BIRTH_DATE,REAL,YES,"<Epochs | 1 events (good & bad), 0 – 1 s, bas...",YES,1

In [8]:
# Extract data as X and y np arrays
X,y = extract_X_y_from_df(df)

In [9]:
X.shape

(2656, 16, 251)

In [10]:
y.shape

(2656,)